body{
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  background: rgba(0, 0, 0, 0.534);
}

.calc{
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
  border-radius: 10px;
}

.ans-1{
  position: relative;
  top: 80px;
  font-size: 20px;
  right: 30px;
  color: rgb(145, 145, 145);
}.ans-2{
  position: relative;
  right: 20px;
  top: 50px;
  font-size: 30px;
  color: rgb(230, 230, 230);
}
.output{
  background: black;
  height: 150px;
  color: aliceblue;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  text-align: right
}
.input{
  background: #0A0A0A;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

button{
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background: none;
  box-shadow: 0px 0px 8px rgb(92, 92, 92);
  border: none;
  margin: 8px;
}

@media (min-width: 500px){
  .body{
      background: blanchedalmond;
  }
}