body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  border: 1px solid;
  display: inline-block;
  padding: 5px;
}
input{
  width: 75%;
  font-size: 25px;
}
td{
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}td:active{
  background: cornsilk;
}
button{
  padding: 20px;
  font-size: 25px;
}
